
.icon-viber:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */
